## Coursera Capstone Semana 3 parte 2

In [4]:
import pandas as pd
print('Importada con exito!')

Importada con exito!

In [6]:
#Conjunto de datos geoespaciales según las instrucciones de la tarea
df_coord = pd.read_csv("Geospatial_Coordinates.csv")
df_coord.head(n=10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [11]:
#Visualizando en resumen el dataframe
df = pd.read_csv("Geospatial_Coordinates.csv")
df_merged = pd.merge(df, df_coord, on='Postal Code')
df_merged

    Postal Code  Latitude_x  Longitude_x  Latitude_y  Longitude_y
0           M1B   43.806686   -79.194353   43.806686   -79.194353
1           M1C   43.784535   -79.160497   43.784535   -79.160497
2           M1E   43.763573   -79.188711   43.763573   -79.188711
3           M1G   43.770992   -79.216917   43.770992   -79.216917
4           M1H   43.773136   -79.239476   43.773136   -79.239476
..          ...         ...          ...         ...          ...
98          M9N   43.706876   -79.518188   43.706876   -79.518188
99          M9P   43.696319   -79.532242   43.696319   -79.532242
100         M9R   43.688905   -79.554724   43.688905   -79.554724
101         M9V   43.739416   -79.588437   43.739416   -79.588437
102         M9W   43.706748   -79.594054   43.706748   -79.594054

[103 rows x 5 columns]